<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Dreamcast</string>
		<key>image</key>
		<string>dreamcast.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NES</string>
		<key>image</key>
		<string>nes.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GameBoy</string>
		<key>image</key>
		<string>gameboy.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Playstation</string>
		<key>image</key>
		<string>play.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SuperNes</string>
		<key>image</key>
		<string>supernes.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dreamcast</string>
		<key>image</key>
		<string>dreamcast.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NES</string>
		<key>image</key>
		<string>nes.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GameBoy</string>
		<key>image</key>
		<string>gameboy.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Playstation</string>
		<key>image</key>
		<string>play.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SuperNes</string>
		<key>image</key>
		<string>supernes.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dreamcast</string>
		<key>image</key>
		<string>dreamcast.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dreamcast</string>
		<key>image</key>
		<string>dreamcast.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NES</string>
		<key>image</key>
		<string>nes.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GameBoy</string>
		<key>image</key>
		<string>gameboy.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Playstation</string>
		<key>image</key>
		<string>play.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SuperNes</string>
		<key>image</key>
		<string>supernes.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dreamcast</string>
		<key>image</key>
		<string>dreamcast.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NES</string>
		<key>image</key>
		<string>nes.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GameBoy</string>
		<key>image</key>
		<string>gameboy.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Playstation</string>
		<key>image</key>
		<string>play.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SuperNes</string>
		<key>image</key>
		<string>supernes.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dreamcast</string>
		<key>image</key>
		<string>dreamcast.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dreamcast</string>
		<key>image</key>
		<string>dreamcast.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dreamcast</string>
		<key>image</key>
		<string>dreamcast.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NES</string>
		<key>image</key>
		<string>nes.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GameBoy</string>
		<key>image</key>
		<string>gameboy.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dreamcast</string>
		<key>image</key>
		<string>dreamcast.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NES</string>
		<key>image</key>
		<string>nes.jpg</string>
	</dict>
</array>
</plist>
